

.clients__topic {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  line-height: calc(42 / 36);

  text-align: center;
  margin-bottom: 50px;

  color: $secondary-title-color;
  }
  
  .clients__list {
    @extend %list;
    display: flex;
  }
  
  .clients__list :not(:first-child) {
    margin-left: 30px;
  }
  
  .clients__link {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid $social-icon-color;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: $social-icon-color;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,&:focus {
    border-color: $accent-color;
    color: $accent-color;
  }
}
  
  .clients__icon {
    fill: currentColor;
  }