
.header {
    border-bottom: 1px solid #ececec;
  }
  
  .header__container {
    display: flex;
  }
  .nav {
    display: flex;
  }
  
  .header__logo-link {
    @extend %link;
    font-weight: 700;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: $header-logo-color;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .header__logo-span {
    color: $accent-color;
    }
  
    .nav-menu__list { 
      @extend %list;
    margin-left: 92px;
    display: flex;
  
  :not(:last-child) {
    margin-right: 50px;
    }
  }
  
  .nav-menu__link {
    @extend %link;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
  
    color:$secondary-title-color;
  
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
    color: $accent-color;
  }
}
  
  .nav-menu__link--current {
    @extend %link;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    color: $accent-color;
  
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    
    position: relative;
    
  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color:$accent-color;
    border-radius: 4px;
  }
}
  
  .nav-contact {
    display: flex;
    margin-left: auto;
  }
  
  .nav-contact :not(:last-child) {
    margin-right: 50px;
  }
  
  .nav-contact__item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  
  .nav-contact__link {
    @extend %link;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
  
    color: $primary-text-color;
  
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    &:hover,&:focus {
      color:$accent-color;
    }
  }
  
  .nav-contact__icon {
    margin-right: 10px;
    fill: currentcolor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
