
.portfolio-btn__list {
  @extend %list;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }
  
  .portfolio-btn__list :not(:first-child) {
    margin-left: 8px;
  }
  
  .portfolio__btn--current {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    font-family: inherit;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    
    padding: 6px 22px;

    color: $secondary-background-color;
    background-color: $accent-color;
    &:hover, &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
    
  .portfolio__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    font-family: inherit;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  
    padding: 6px 22px;

    color: $secondary-title-color;
    background-color: $secondary-background-color;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover, &:focus {
    color: $secondary-background-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
      }
    }
    
  .portfolio__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
  }
  
  .portfolio__item {
    font-family: inherit;
    font-weight: 500;
    background: $primary-title-color;
    display: flex;
    
  .portfolio__block--data:hover &,
  .portfolio__block--data:focus & {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  }
  
  .portfolio__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  
  .portfolio__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
  
  /* margin-right: 30px; */
  /* margin-bottom: 30px; */
  /* .portfolio-link:nth-child(3n) {
    margin-right: 0px;
  } */
  /* .portfolio-link:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  } */
  
  .portfolio__link {
    @extend %link;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:focus, &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .portfolio__block--img {
    position: relative;
    overflow: hidden;
  }
  
  .portfolio__text {
    font-size: 18px;
    line-height: calc(28 / 18);
    
    top: 0;
    left: 0;
    padding: 63px 24px;
    position: absolute;

    background: rgba(33, 150, 243, 0.9);
    color: $primary-title-color;

    transform: translateY(102%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    .portfolio__link:focus &,
    .portfolio__link:hover & {
    transform: translateY(0);
    }
  }
  
  .portfolio__block--data {
    border: 1px solid #eeeeee;
    border-top: none;

    padding: 20px 24px;
  }
  
  .portfolio__price {
    font-weight: bold;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    
    color: $secondary-title-color;
  }
  
  .portfolio__term {
    font-size: 16px;
    line-height: calc(30 / 16);
    font-weight: normal;

    color: $primary-text-color;
  }
  