
  
  /* убираем подчеркивание */
  %link {
    text-decoration: none;
  }
  
  /* убираем точки из списка <ul> */
  %list {
    list-style: none;
  }

  %img {
    display: block;
    max-width: 100%;
    height: auto;
  }
    
