$primary-title-color: #ffffff;
$secondary-title-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196f3;
$background-color: #2f303a;
$secondary-background-color: #f5f4fa;
$social-icon-color: #afb1b8;
$button-background-color: #188ce8;
$header-logo-color: #000000;